<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.1" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_1.xsd">
    <servlet>
        <servlet-name>ListaHabitacionesServlet</servlet-name>
        <servlet-class>packServlets.ListaHabitacionesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BusquedaServlet</servlet-name>
        <servlet-class>packServlets.BusquedaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearHabitacionServlet</servlet-name>
        <servlet-class>packServlets.CrearHabitacionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActualizarHabitacionServlet</servlet-name>
        <servlet-class>packServlets.ActualizarHabitacionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListaHabitacionesServlet</servlet-name>
        <url-pattern>/ListaHabitaciones</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BusquedaServlet</servlet-name>
        <url-pattern>/Busqueda</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearHabitacionServlet</servlet-name>
        <url-pattern>/CrearHabitacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActualizarHabitacionServlet</servlet-name>
        <url-pattern>/ActualizarHabitacion</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>Busqueda.jsp</welcome-file>
    </welcome-file-list>
</web-app>
