<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.1" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_1.xsd">
    <!-- =========================
         SERVLETS (declaración)
         ========================= -->
    <servlet>
        <servlet-name>BusquedaServlet</servlet-name>
        <servlet-class>packServlets.BusquedaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BusquedaGeolocalizacion</servlet-name>
        <servlet-class>packServlets.BusquedaGeolocalizacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmarSolicitudServlet</servlet-name>
        <servlet-class>packServlets.ConfirmarSolicitudServlet</servlet-class>
    </servlet>
    <!-- CrearHabitacionServlet mantiene @MultipartConfig en la clase -->
    <servlet>
        <servlet-name>CrearHabitacionServlet</servlet-name>
        <servlet-class>packServlets.CrearHabitacionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetalleAlquilerServlet</servlet-name>
        <servlet-class>packServlets.DetalleAlquilerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetalleHabitacionServlet</servlet-name>
        <servlet-class>packServlets.DetalleHabitacionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetalleSolicitudPropietarioServlet</servlet-name>
        <servlet-class>packServlets.DetalleSolicitudPropietarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaHabitacionesServlet</servlet-name>
        <servlet-class>packServlets.ListaHabitacionesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>packServlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>packServlets.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MisAlquileresPropietarioServlet</servlet-name>
        <servlet-class>packServlets.MisAlquileresPropietarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MisAlquileresServlet</servlet-name>
        <servlet-class>packServlets.MisAlquileresServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MisHospedajesServlet</servlet-name>
        <servlet-class>packServlets.MisHospedajesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MisSolicitudesInquilinoServlet</servlet-name>
        <servlet-class>packServlets.MisSolicitudesInquilinoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActualizarHabitacionServlet</servlet-name>
        <servlet-class>packServlets.ActualizarHabitacionServlet</servlet-class>
    </servlet>
    <!-- =========================
         MAPPINGS (URL -> servlet)
         ========================= -->
    <servlet>
        <servlet-name>PuntuarHabitacionServlet</servlet-name>
        <servlet-class>packServlets.PuntuarHabitacionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BusquedaServlet</servlet-name>
        <url-pattern>/BusquedaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BusquedaGeolocalizacion</servlet-name>
        <url-pattern>/BusquedaGeolocalizacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmarSolicitudServlet</servlet-name>
        <url-pattern>/ConfirmarSolicitudServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearHabitacionServlet</servlet-name>
        <url-pattern>/CrearHabitacionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetalleAlquilerServlet</servlet-name>
        <url-pattern>/DetalleAlquilerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetalleHabitacionServlet</servlet-name>
        <url-pattern>/DetalleHabitacionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetalleSolicitudPropietarioServlet</servlet-name>
        <url-pattern>/DetalleSolicitudPropietarioServlet</url-pattern>
    </servlet-mapping>
    <!-- tu annotation decía /HabitacionServlet -->
    <servlet-mapping>
        <servlet-name>ListaHabitacionesServlet</servlet-name>
        <url-pattern>/HabitacionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MisAlquileresPropietarioServlet</servlet-name>
        <url-pattern>/MisAlquileresPropietarioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MisAlquileresServlet</servlet-name>
        <url-pattern>/MisAlquileresServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MisHospedajesServlet</servlet-name>
        <url-pattern>/MisHospedajesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MisSolicitudesInquilinoServlet</servlet-name>
        <url-pattern>/MisSolicitudesInquilinoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PuntuarHabitacionServlet</servlet-name>
        <url-pattern>/PuntuarHabitacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActualizarHabitacionServlet</servlet-name>
        <url-pattern>/ActualizarHabitacion</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>Busqueda.jsp</welcome-file>
    </welcome-file-list>
</web-app>
